.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img_navbar {
  width: 12%;
  height: 8%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 40%;
  margin-left: 40%;
  justify-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.navbar-brand {
  border: #282c34;
  text-align: left;
  color: blue;
}

.mx-5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx-5 h1 {
  text-align: center;
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}

.mx-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.conteiner {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
}

/* Personalize o tamanho e outros estilos da barra de navegação */
.navbar {
  height: 5%;
  padding: 0%;
  /* Defina a altura desejada, por exemplo, 80 pixels */
  background-color: #fff;
  /* Cor de fundo da barra de navegação */
  border-bottom: 1px solid #ccc;
  margin-right: 70%;
  width: 100%;
  padding-right: 20%;
  /* Adicione uma borda inferior (opcional) */
  /* Outros estilos desejados */
}

.navbar-nav {
  margin-right: 50%;
}

.conteiner-usuario {
  width: 80%;
  ;
}

.btn-list {
  margin: 1%;
}

.table-list {
  justify-content: center;
  text-align: center;
  width: 80%;
  border: 1px solid #ddd;
  padding-left: 20px;
  border-radius: 5px;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  /* box-shadow: 5px 5px 10px #888888; */
}

body {
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* box-shadow: 5px 5px 10px #888888; */
}

.home-container {
  max-width: 1200px;
  /* Largura máxima para o conteúdo */
  margin: 0 auto;
  /* Centralize o conteúdo na página */
  padding: 20px;
  /* Espaçamento interno */
  background-color: #f7f7f7;
  /* Cor de fundo */
  border: 1px solid #ddd;
  /* Borda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra */

}

.home-container h1 {
  font-size: 24px;
  /* Tamanho da fonte do título */
  margin: 10px 0;
  /* Espaçamento superior e inferior do título */
}

/* Estilize o contêiner da galeria */
.galeria-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

}

/* Estilize cada item da galeria */
.galeria-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilize a imagem do item */
.galeria-imagem img {
  max-width: 100%;
  height: auto;


}

/* Estilize os detalhes do item */
.galeria-detalhes {
  padding: 10px;
}

.galeria-detalhes h3 {
  font-size: 1.2rem;
  margin: 0;
}

.galeria-detalhes p {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #555;
}

/* Estilize os botões de ação */
.galeria-acoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-list {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item {
  margin: 5px;
  padding: 5px;
  margin-top: 20px;
}

.mt-2 {
  padding: 6.5%;
}


.btn-list:hover {
  background-color: #007bff;
  color: #fff;
}

/* .galeria-container {
  display: flex;
} */

/* .galeria-imagem {
  width: 280px;
  height: 180px;
  object-fit: cover;
} */

form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}